.about {
  width: 100%;
}

.about__container {
  max-width: 1220px;
  padding: 5px 80px 20px 250px;
  margin: 0 auto;
  margin-bottom: 100px;
  position: relative;

  &::after {
    content: url("../../img/year.png");
    position: absolute;
    left: 0;
    top: 0;

    @media (min-resolution: $retina-dppx) {
      content: url("../../img/year@2x.png");
    }

    @media (max-width: $vp-767) {
      display: none;
    }
  }

  @media (max-width: $vp-1023) {
    max-width: 674px;
    padding: 0;
    padding-left: 180px;
    margin-bottom: 80px;
  }

  @media (max-width: $vp-767) {
    max-width: 600px;
    padding: 0;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.about__title {
  margin: 0;
  font-family: $additional-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $main-theme-color;
  margin-bottom: 15px;

  @media (max-width: $vp-767) {
    font-size: 28px;
    line-height: 39px;
  }
}

.about__description {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: $main-theme-color;
  margin-bottom: 20px;

  @media (max-width: $vp-767) {
    font-size: 14px;
    line-height: 19px;
  }

  &--additional.is-closed {
    display: none;
  }

  &--additional.is-active {
    display: inline-block;
  }
}

.about__more {
  display: block;
  padding: 14px 40px;
  border: 1px solid $decoration-color;
  border-radius: 3px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  font-family: $additional-font;
  color: $decoration-color;
  text-transform: uppercase;
  text-align: center;
  width: max-content;
  background-color: transparent;

  &:hover,
  &:focus {
    background-color: $decoration-color;
    color: $color-default-white;
  }

  &:active {
    background-color: $decoration-color-active;
  }

  &.is-closed {
    display: none;
  }
}
