.about {
  width: 100%;
}

.about__container {
  padding: 5px 180px 20px 300px;
  margin: 0 auto;
  margin-bottom: 150px;
  position: relative;

  &::after {
    content: url("../img/year.png");
    position: absolute;
    top: 0;

    @media (min-width: $vp-1023) {
      left: 100px;
    }

    @media (min-width: $vp-768) {
      left: 0;
    }

    @media (min-resolution: $retina-dppx) {
      content: url("../img/year@2x.png");
    }

    @media (max-width: $vp-767) {
      display: none;
    }
  }

  @media (max-width: $vp-1023) {
    padding: 0;
    padding-left: 176px;
    margin-bottom: 88px;
    padding-right: 50px;
  }

  @media (max-width: $vp-767) {
    max-width: 600px;
    padding: 0;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 77px;
  }
}

.about__title {
  margin: 0;
  font-family: $additional-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $main-theme-color;
  margin-bottom: 15px;

  @media (max-width: $vp-767) {
    font-size: 28px;
    line-height: 39px;
  }
}

.about__description {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: $main-theme-color;
  margin-bottom: 20px;
  transition: max-height 0.5s ease, opacity 0.5s ease;

  &--desktop {
    @media (max-width: $vp-767) {
      display: none;
    }
  }

  &--mobile {
    @media (min-width: $vp-768) {
      display: none;
    }
  }

  @media (max-width: $vp-767) {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 29px;
  }

  &--additional.is-closed {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
  }

  &--additional.is-active {
    max-height: 500px;
    opacity: 1;
  }
}

.about__more {
  display: block;
  padding: 14px 55px;
  border: 1px solid $decoration-color;
  border-radius: 3px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  font-family: $additional-font;
  color: $decoration-color;
  text-transform: uppercase;
  text-align: center;
  width: max-content;
  background-color: transparent;

  @media (max-width: $vp-767) {
    padding: 10px 43px;
  }

  &:hover,
  &:focus {
    background-color: $decoration-color;
    color: $color-default-white;
  }

  &:active {
    background-color: $decoration-color-active;
  }

  &.is-closed {
    display: none;
  }
}
