.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 50px;
  padding-right: 50px;

  @media (max-width: $vp-1023) {
    padding-top: 80px;
    padding-bottom: 70px;
  }

  @media (max-width: $vp-767) {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  column-gap: 30px;
  row-gap: 30px;
  margin: 0 auto;
  justify-content: center;

  @media (max-width: $vp-1023) {
    max-width: 670px;
  }

  @media (max-width: $vp-767) {
    padding-top: 50px;
    padding-bottom: 15px;
  }
}

.advantages__item {
  width: 595px;
  padding: 95px 45px 35px 45px;
  border: 1px solid $border-color;
  min-height: 300px;
  border-left: 5px solid $decoration-color;
  background-repeat: no-repeat;
  background-position: 45px 40px;

  @media (max-width: $vp-1023) {
    max-width: 320px;
    padding: 90px 30px 30px 40px;
    min-height: 360px;
    background-position: 40px 35px;
  }

  @media (max-width: $vp-767) {
    max-width: 270px;
    padding: 75px 25px 35px;
    background-position: 23px 25px;
    min-height: 340px;
  }

  &:hover {
    background-color: $decoration-color;

    .advantages__title,
    .advantages__description {
      color: $hover-text-color;
    }
  }

  &--price {
    background-image: url("../img/svg/advantages-price.svg");

    &:hover {
      background-image: url("../img/svg/advantages-price-hover.svg");
    }
  }

  &--confidential {
    background-image: url("../img/svg/advantages-confidential.svg");

    &:hover {
      background-image: url("../img/svg/advantages-confidential-hover.svg");
    }
  }

  &--people {
    background-image: url("../img/svg/advantages-people.svg");

    &:hover {
      background-image: url("../img/svg/advantages-people-hover.svg");
    }
  }

  &--time {
    background-image: url("../img/svg/advantages-time.svg");

    &:hover {
      background-image: url("../img/svg/advantages-time-hover.svg");
    }
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: $decoration-color;
  font-family: $additional-font;

  @media (max-width: $vp-1023) {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 10px;
  }

  @media (max-width: $vp-767) {
    font-size: 20px;
    line-height: 28px;
  }
}

.advantages__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $main-theme-color;
  margin: 0;

  @media (max-width: $vp-767) {
    font-size: 14px;
    line-height: 19px;
  }
}
