.form {
  width: 100%;
  background-image: url("../img/airplane.png"), $form-background-gradient;
  padding-right: 360px;
  padding-top: 170px;
  padding-bottom: 250px;
  background-repeat: no-repeat;
  background-position: 25% 45%, 0 0;
  flex-grow: 1;

  @media (max-width: 1800px) {
    background-image: $form-background-gradient;
  }

  @media (max-width: $vp-1023) {
    padding: 40px 50px 125px 50px;
    background-image: none;
    background-color: $form-color;
  }

  @media (max-width: $vp-767) {
    padding: 50px 25px 78px;
  }
}

.form__container {
  max-width: 585px;
  margin: 0;
  margin-right: 0;
  margin-left: auto;

  @media (max-width: $vp-1023) {
    margin: 0 auto;
    max-width: 100%;
  }
}

.form__title {
  margin: 0;
  margin-bottom: 15px;
  font-family: $additional-font;
  color: $color-default-white;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;

  @media (max-width: $vp-1023) {
    margin-bottom: 10px;
  }

  @media (max-width: $vp-767) {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 6px;
  }
}

.form__description {
  margin: 0;
  margin-bottom: 35px;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;

  @media (max-width: $vp-1023) {
    margin-bottom: 25px;
  }

  @media (max-width: $vp-767) {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 33px;
  }
}

.form__wrapper {
  display: grid;
  grid-template-columns: 275px 275px;
  column-gap: 30px;
  row-gap: 20px;

  @media (max-width: $vp-1023) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $vp-767) {
    display: flex;
    flex-direction: column;
  }
}

.form__label label input,
.form__label label textarea {
  background-color: $form-background;
  border-radius: 3px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: $main-font;
  color: $color-default-white;
  padding: 15px;
  width: 100%;
  cursor: text;

  &:hover {
    outline: 1px solid $decoration-color-active;
  }

  &:focus {
    outline: 1px solid $main-theme-color;
  }

  &::placeholder {
    color: $links-color;
  }
}

.form__check {
  display: block;
  position: absolute;
  left: 0;
  top: 55%;
  margin-top: -7px;
  width: 15px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.form__label--question {
  grid-column-start: 1;
  grid-column-end: 3;
}

.form__label--question label textarea {
  height: 155px;

  @media (max-width: $vp-767) {
    height: 180px;
  }
}


.form__label--policy {
  display: flex;
  padding-left: 26px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 55%;
    margin-top: -7px;
    width: 15px;
    height: 14px;
    border: solid 1px $color-default-white;
    border-radius: 2px;
  }
}

.form__label--policy input[type="checkbox"]:checked + .form__check {
  background-image: url("../img/svg/check.svg");
}

.form__send {
  background-color: $button-color;
  border: none;
  border-radius: 3px;
  padding: 15px 25px;
  font-family: $additional-font;
  color: $color-default-white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  max-width: 265px;

  @media (max-width: $vp-767) {
    padding: 13px 25px;
  }

  &:hover,
  &:focus {
    background-color: $decoration-color-hover;
  }

  &:active {
    background-color: $decoration-color-active;
  }
}

.form__policy-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  opacity: 0.8;
  text-align: left;
  align-self: end;
}
