.main-header {
  background: $header-background;
  width: 100%;
  z-index: 3;

  @media (min-width: $vp-1024) {
    position: fixed;
  }
}

.main-header__container {
  padding-top: 30px;
  padding-bottom: 35px;
  margin: 0 auto;
  display: flex;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $vp-1023) {
    padding: 20px 70px 25px 50px;
  }

  @media (max-width: $vp-767) {
    padding: 15px 10px 20px 26px;
  }
}

.main-header__logo {
  flex-grow: 1;

  @media (max-width: $vp-1023) {
    margin-left: 0;
  }
}
