.navigation {
  display: flex;
  flex-wrap: wrap;
  column-gap: 100px;
  row-gap: 25px;

  @media (max-width: $vp-1023) {
    column-gap: 20px;
  }
}

.navigation__item {
  color: $additional-text-color;
  display: block;
  padding-top: 7px;
  position: relative;

  @media (max-width: $vp-1023) {
    width: 40px;
    height: 40px;
    padding: 10px;
    position: static;
  }

  &:hover .navigation__item-naming,
  &:focus .navigation__item-naming,
  &:hover .navigation__item-icon,
  &:focus .navigation__item-icon {
    opacity: 0.7;
  }

  &:active .navigation__item-naming,
  &:active .navigation__item-icon {
    opacity: 0.3;
  }
}

.navigation__item-icon {
  position: absolute;
  top: 50%;
  margin-top: -10px;

  @media (max-width: $vp-1023) {
    position: static;
  }
}

.navigation__item--request-call {
  border: 1px solid $additional-text-color;
  border-radius: 3px;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 15px;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  @media (max-width: $vp-1023) {
    display: none;
  }
}

.navigation__item-naming {
  font-size: 14px;
  line-height: 16px;
  padding-left: 40px;

  @media (max-width: $vp-1023) {
    display: none;
  }
}
