.services {
  width: 100%;
  background-color: $main-theme-color;
  padding-top: 105px;
  padding-bottom: 140px;


  @media (max-width: $vp-1023) {
    padding-top: 55px;
    padding-bottom: 75px;
  }

  @media (max-width: $vp-767) {
    padding-top: 50px;
    padding-bottom: 86px;
  }
}

.services__title {
  margin: 0;
  font-family: $additional-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-default-white;
  margin-bottom: 50px;

  @media (max-width: $vp-1023) {
    margin-bottom: 40px;
  }

  &--mobile {
    display: none;
  }

  @media (max-width: $vp-767) {
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 25px;

    &--desktop {
      display: none;
    }

    &--mobile {
      display: inline-block;
    }
  }
}

.services__list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  column-gap: 85px;
  row-gap: 30px;
  justify-content: center;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;

  @media (max-width: 1400px) {
    display: flex;
  }
}

.services__container {
  padding-left: 350px;
  padding-right: 350px;
  width: 100%;
  margin: 0 auto;

  @media (max-width: $vp-1023) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (max-width: $vp-767) {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.services__service-title {
  width: auto;
  color: $color-default-white;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  font-family: $additional-font;
  position: relative;
  z-index: 9;


  @media (max-width: $vp-767) {
    font-size: 18px;
    line-height: 30px;
    max-width: 150px;
  }

  .services__link:hover &,
  .services__link:focus & {
    color: $decoration-color;
  }

  .services__link:active & {
    color: $decoration-color-hover;
  }
}

.services__link {
  display: block;
  width: 350px;
  min-height: 650px;
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;

  @media (max-width: $vp-1023) {
    min-width: 670px;
    min-height: 250px;
    padding-top: 40px;
    padding-left: 45px;
  }

  @media (max-width: $vp-767) {
    min-width: 270px;
    min-height: 250px;
    padding-top: 5px;
    padding-left: 30px;
  }
}

.services__image {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.services__item {
  background-size: cover;
  position: relative;
  background-image: none;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    right: 25px;
    bottom: 25px;
    width: 8px;
    height: 4px;
    border: solid $color-default-white;
    border-width: 0 1px 1px 0;
    padding: 3px;
    transform: rotate(-45deg);
    background-color: transparent;
    z-index: 2;

    @media (max-width: $vp-767) {
      right: 16px;
      bottom: 16px;
      width: 5px;
      height: 2px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 60px;
    height: 60px;
    background-color: $decoration-color;
    z-index: 1;

    @media (max-width: $vp-767) {
      width: 40px;
      height: 40px;
    }
  }
}
